Your burn email is: <%= current_user.burn_email %> <%= link_to 'Burn', burn_it_emails_path, :class => 'badge', :method => :put, data: { confirm: 'Are you sure you want to burn your email address?' } %>
<% unless @emails.empty? %>
<%= link_to 'Clear Inbox', destroy_all_emails_path, :class => 'badge', :method => :put, data: { confirm: 'Are you sure? Messages cannot be recovered.' } %></br>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |e| %>
      <tr>
        <td><%= e.from_email %></td>
        <td><%= e.to_email %></td>
        <td><%= link_to e.subject, email_path(e.id) %></td>
        <td><%= link_to 'Destroy', { action: :destroy, id: e.id }, method: :delete, data: { confirm: 'Are you sure? Messages cannot be recovered.' }, class: 'badge' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
