<hr>
<h4>From: <%= @email.from_email %> To: <%= @email.to_email %></h4></br>
<h4>Subject: <%= @email.subject %></h4>
<hr>
<h4>Message:</h4>
<%= htmlify(@email.body) %></br>
<%= link_to 'Destroy', { action: :destroy, id: @email.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge' %>
<%= link_to email_path(@email.id), method: :delete, data: { confirm: 'Are you sure? Messages cannot be recovered.' }, class: 'btn btn-link' do %>
<i class="fa fa-trash fa-1x"></i>
<% end %>
