<!DOCTYPE html>
<html>
<head>
  <title>burnonce.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container-fluid">
    <%= flash_messages %>


    <%= yield %>

    <footer>
      <div class="pull-left">
        Made with <%= fa_icon 'heart' %> by <%= link_to "ShakyCode", "http://shakycode.com" %>
      <%= link_to 'Donate', new_charge_path, class: 'btn btn-primary' %>

      </div>
    </footer>
  </div>
  <%= social_share_button_tag("Anonymous, Disposable Email, Done Right @burnonceapp", :url => "http://burnonce.com") %>
</body>
</html>

<%= render 'layouts/google_analytics' %>
